In [1]:
import os
os.chdir('/Users/seongyeon-kim/Desktop/Dinger')

### 프로젝트 root로 설정

In [2]:
import warnings
warnings.filterwarnings('ignore')

print("현재 디렉토리 " , os.getcwd())

from tqdm import tqdm
import pandas as pd 

from Dinger import universe_module as um

현재 디렉토리  /Users/seongyeon-kim/Desktop/Dinger

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('./data/stock_kr.csv')

In [5]:
data = um.Universe(df)

In [6]:
data.get_standard_df()

,MKT_VAL,PER,PBR,DIV,매출액,영업이익,당기순이익,ROA,ROE,베타,resnet
SEC_NM_KOR,,,,,,,,,,,
IT,8.196197e+05,30.084113,2.200751,0.759078,2980.761092,401.568259,305.955631,2.833447,4.060580,1.012266,0.822526
건강관리,3.921800e+05,30.626036,3.638857,0.574250,541.921429,51.896429,46.525000,-1.225000,-3.615000,0.953178,0.764286
경기관련소비재,3.830134e+05,20.309020,1.504669,1.405303,4306.014409,272.740634,259.164265,1.614986,1.916138,0.875079,0.757925
금융,1.159158e+06,7.660602,0.779157,4.074819,25541.650602,1591.060241,1250.602410,1.768675,9.175904,0.762331,0.686747
산업재,4.006711e+05,42.695172,1.722816,1.462960,5527.793103,425.729885,315.321839,3.076149,2.828448,0.895503,0.732759
소재,4.696364e+05,16.347611,1.454159,1.660752,4535.805310,378.225664,306.292035,6.452212,10.680973,0.865302,0.654867
에너지,6.541701e+05,25.351111,1.951389,1.476667,16907.611111,1985.805556,1290.972222,1.536111,2.755556,0.777487,0.750000
유틸리티,6.699746e+05,34.691765,1.293529,2.681765,18977.235294,-3598.529412,-2754.823529,3.247059,5.852941,0.392353,0.823529
커뮤니케이션서비스,9.567631e+05,28.023451,2.286018,0.765221,2466.513274,232.646018,135.681416,0.521239,-0.819469,0.932069,0.743363
필수소비재,2.801420e+05,13.579600,1.369200,1.628000,3866.590000,260.450000,183.340000,2.525000,4.079000,0.731100,0.580000

In [7]:
data.get_standard_df('quant')

,MKT_VAL,PER,PBR,DIV,매출액,영업이익,당기순이익,ROA,ROE,베타,resnet
SEC_NM_KOR,,,,,,,,,,,
IT,71525.0,9.550,1.450,0.000,243.5,12.0,14.5,4.15,6.95,1.030,0.0
건강관리,106190.5,5.540,2.065,0.000,168.0,7.0,9.5,2.20,3.15,0.955,0.0
경기관련소비재,62422.0,7.070,0.990,0.810,512.0,22.0,19.0,2.60,4.80,0.870,0.0
금융,160148.0,3.990,0.510,4.150,3503.0,228.0,185.0,1.10,9.50,0.740,0.0
산업재,83095.5,7.820,1.055,0.705,705.5,31.0,27.0,3.15,6.20,0.895,0.0
소재,72466.0,9.155,0.890,1.205,796.0,44.0,40.0,6.00,10.00,0.870,0.0
에너지,104895.5,4.880,1.430,0.000,714.5,7.5,9.0,0.70,1.30,0.805,0.0
유틸리티,175067.0,17.970,0.530,2.530,2446.0,56.0,51.0,4.00,8.90,0.370,0.0
커뮤니케이션서비스,118840.0,8.230,1.770,0.000,282.0,12.0,11.0,2.20,3.70,0.910,0.0
필수소비재,68470.5,9.185,0.905,1.250,796.5,43.5,28.5,3.55,5.95,0.725,0.0

In [8]:
data.get_standard_df('median')

,MKT_VAL,PER,PBR,DIV,매출액,영업이익,당기순이익,ROA,ROE,베타,resnet
SEC_NM_KOR,,,,,,,,,,,
IT,71525.0,9.550,1.450,0.000,243.5,12.0,14.5,4.15,6.95,1.030,0.0
건강관리,106190.5,5.540,2.065,0.000,168.0,7.0,9.5,2.20,3.15,0.955,0.0
경기관련소비재,62422.0,7.070,0.990,0.810,512.0,22.0,19.0,2.60,4.80,0.870,0.0
금융,160148.0,3.990,0.510,4.150,3503.0,228.0,185.0,1.10,9.50,0.740,0.0
산업재,83095.5,7.820,1.055,0.705,705.5,31.0,27.0,3.15,6.20,0.895,0.0
소재,72466.0,9.155,0.890,1.205,796.0,44.0,40.0,6.00,10.00,0.870,0.0
에너지,104895.5,4.880,1.430,0.000,714.5,7.5,9.0,0.70,1.30,0.805,0.0
유틸리티,175067.0,17.970,0.530,2.530,2446.0,56.0,51.0,4.00,8.90,0.370,0.0
커뮤니케이션서비스,118840.0,8.230,1.770,0.000,282.0,12.0,11.0,2.20,3.70,0.910,0.0
필수소비재,68470.5,9.185,0.905,1.250,796.5,43.5,28.5,3.55,5.95,0.725,0.0

In [9]:
data.get_score().sort_values('Score', ascending=False)[:20]

            종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
247540   에코프로비엠         IT  일반전기전자  KOSDAQ   11.0
352820      하이브  커뮤니케이션서비스    서비스업   KOSPI   10.0
8930     한미사이언스       건강관리    기타금융   KOSPI   10.0
185750      종근당       건강관리     의약품   KOSPI    9.0
11070     LG이노텍         IT    전기전자   KOSPI    9.0
51600     한전KPS       유틸리티     건설업   KOSPI    9.0
28260      삼성물산        산업재     유통업   KOSPI    9.0
78930        GS        에너지    기타금융   KOSPI    9.0
1680         대상      필수소비재    음식료품   KOSPI    9.0
195940    HK이노엔       건강관리      제약  KOSDAQ    9.0
66570      LG전자         IT    전기전자   KOSPI    9.0
11780      금호석유         소재      화학   KOSPI    9.0
353200     대덕전자         IT    전기전자   KOSPI    9.0
96770   SK이노베이션        에너지      화학   KOSPI    9.0
271560      오리온      필수소비재    음식료품   KOSPI    9.0
36570     엔씨소프트  커뮤니케이션서비스    서비스업   KOSPI    9.0
96530        씨젠       건강관리      제약  KOSDAQ    9.0
6400      삼성SDI         IT    전기전자   KOSPI    9.0
68760    셀트리온제약       건강관리      제약  KOSDAQ    9.0
80        하이트진로      필수소비재    음식료품   KOSPI    9.0

In [10]:
# mode quantile
data.get_score('quant').sort_values('Score', ascending=False)[:10]

            종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
81660     휠라홀딩스    경기관련소비재     유통업   KOSPI   11.0
36010     아비코전자         IT  일반전기전자  KOSDAQ   11.0
101160      월덱스         IT     반도체  KOSDAQ   11.0
42700     한미반도체         IT      기계   KOSPI   11.0
340570      티앤엘       건강관리      제약  KOSDAQ   11.0
138490  코오롱플라스틱         소재      화학   KOSPI   11.0
58610      에스피지         IT    IT부품  KOSDAQ   11.0
60720      KH바텍         IT    IT부품  KOSDAQ   11.0
5850        에스엘    경기관련소비재    운수장비   KOSPI   11.0
131970    두산테스나         IT     반도체  KOSDAQ   11.0

In [11]:
data.get_score('median')

           종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
5380       현대차    경기관련소비재    운수장비   KOSPI    9.0
270         기아    경기관련소비재    운수장비   KOSPI    8.0
12330    현대모비스    경기관련소비재    운수장비   KOSPI    9.0
51900   LG생활건강    경기관련소비재      화학   KOSPI    9.0
90430   아모레퍼시픽    경기관련소비재      화학   KOSPI    6.0
...        ...        ...     ...     ...    ...
33200      모아텍         IT    IT부품  KOSDAQ    2.0
9140      경인전자         IT    전기전자   KOSPI    5.0
17250      인터엠         IT  일반전기전자  KOSDAQ    1.0
32960     동일기연         IT    IT부품  KOSDAQ    3.0
321260    프로이천         IT  일반전기전자  KOSDAQ    6.0

[2136 rows x 5 columns]

In [12]:
data.get_score(mode='mm').sort_values('Score', ascending=False)[:20]

            종목명 SEC_NM_KOR      업종명    시장구분     Score
종목코드
5930       삼성전자         IT     전기전자   KOSPI  6.813026
34730        SK        산업재     기타금융   KOSPI  4.273735
660      SK하이닉스         IT     전기전자   KOSPI  4.237589
96770   SK이노베이션        에너지       화학   KOSPI  3.952028
151860   KG ETS         소재    기타서비스  KOSDAQ  3.823171
316140   우리금융지주         금융     기타금융   KOSPI  3.817217
66570      LG전자         IT     전기전자   KOSPI  3.802808
310210     보로노이       건강관리       제약  KOSDAQ  3.794632
11780      금호석유         소재       화학   KOSPI  3.793934
42600      새로닉스    경기관련소비재     IT부품  KOSDAQ  3.788176
140520     대창스틸         소재       금속  KOSDAQ  3.787872
35080     그래디언트    경기관련소비재       유통  KOSDAQ  3.786598
5940     NH투자증권         금융       증권   KOSPI  3.733261
880          한화         금융       화학   KOSPI  3.716270
108320    LX세미콘         IT      반도체  KOSDAQ  3.691237
195870    해성디에스         IT     전기전자   KOSPI  3.687685
253840      수젠텍       건강관리  의료·정밀기기  KOSDAQ  3.681200
4870     티웨이홀딩스        산업재    비금속광물   KOSPI  3.665336
124560    태웅로직스        산업재       운송  KOSDAQ  3.660625
250000     보라티알      필수소비재       유통  KOSDAQ  3.659278

In [13]:
data.get_score(mode='std').sort_values('Score', ascending=False)[:20]

             종목명 SEC_NM_KOR     업종명    시장구분       Score
종목코드
5930        삼성전자         IT    전기전자   KOSPI  147.407653
77970      STX엔진        산업재      기계   KOSPI   38.244384
660       SK하이닉스         IT    전기전자   KOSPI   36.804447
5380         현대차    경기관련소비재    운수장비   KOSPI   36.694842
34730         SK        산업재    기타금융   KOSPI   34.130632
11200        HMM        산업재   운수창고업   KOSPI   27.633975
270           기아    경기관련소비재    운수장비   KOSPI   25.596839
5490    POSCO홀딩스         소재    철강금속   KOSPI   24.482167
96770    SK이노베이션        에너지      화학   KOSPI   22.589368
105560      KB금융         금융    기타금융   KOSPI   21.001663
388050      지투파워        산업재  일반전기전자  KOSDAQ   18.868041
86790     하나금융지주         금융    기타금융   KOSPI   16.989704
267250      HD현대        에너지      화학   KOSPI   15.891274
316140    우리금융지주         금융    기타금융   KOSPI   15.754079
10950      S-Oil        에너지      화학   KOSPI   15.350389
66570       LG전자         IT    전기전자   KOSPI   15.080420
366030      공구우먼    경기관련소비재      유통  KOSDAQ   14.399645
55550       신한지주         금융    기타금융   KOSPI   14.209159
880           한화         금융      화학   KOSPI   13.878268
51910       LG화학         소재      화학   KOSPI   13.867057

In [14]:
data.top_n_sector(n=3, mode='mm')

               Score
SEC_NM_KOR
금융          2.765647
IT          2.733217
에너지         2.687985

In [15]:
data.top_n_sector(mode='std')

               Score
SEC_NM_KOR
금융          2.201644
에너지         0.836682
소재          0.345038
IT          0.252435
산업재         0.106870

In [16]:
data.get_universe()

             종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
282330    BGF리테일    경기관련소비재     유통업   KOSPI    9.0
81660      휠라홀딩스    경기관련소비재     유통업   KOSPI    9.0
21240        코웨이    경기관련소비재    서비스업   KOSPI    9.0
298020     효성티앤씨    경기관련소비재      화학   KOSPI    9.0
204320        만도    경기관련소비재    운수장비   KOSPI    9.0
8930      한미사이언스       건강관리    기타금융   KOSPI   10.0
68270       셀트리온       건강관리     의약품   KOSPI    9.0
96530         씨젠       건강관리      제약  KOSDAQ    9.0
91990   셀트리온헬스케어       건강관리      유통  KOSDAQ    9.0
195940     HK이노엔       건강관리      제약  KOSDAQ    9.0
352820       하이브  커뮤니케이션서비스    서비스업   KOSPI   10.0
36570      엔씨소프트  커뮤니케이션서비스    서비스업   KOSPI    9.0
35900   JYP Ent.  커뮤니케이션서비스   오락·문화  KOSDAQ    9.0
35720        카카오  커뮤니케이션서비스    서비스업   KOSPI    8.0
30000       제일기획  커뮤니케이션서비스    서비스업   KOSPI    8.0
16360       삼성증권         금융      증권   KOSPI    8.0
86790     하나금융지주         금융    기타금융   KOSPI    7.0
316140    우리금융지주         금융    기타금융   KOSPI    7.0
810         삼성화재         금융      보험   KOSPI    7.0
32830       삼성생명         금융      보험   KOSPI    7.0
96770    SK이노베이션        에너지      화학   KOSPI    9.0
78930         GS        에너지    기타금융   KOSPI    9.0
267250      HD현대        에너지      화학   KOSPI    8.0
10950      S-Oil        에너지      화학   KOSPI    8.0
1390       KG케미칼        에너지      화학   KOSPI    6.0
28260       삼성물산        산업재     유통업   KOSPI    9.0
28050    삼성엔지니어링        산업재    서비스업   KOSPI    9.0
6260          LS        산업재    기타금융   KOSPI    9.0
47050   포스코인터내셔널        산업재     유통업   KOSPI    9.0
6360        GS건설        산업재     건설업   KOSPI    9.0
51600      한전KPS       유틸리티     건설업   KOSPI    9.0
36460     한국가스공사       유틸리티   전기가스업   KOSPI    9.0
130660      한전산업       유틸리티    서비스업   KOSPI    8.0
18670       SK가스       유틸리티     유통업   KOSPI    7.0
17940         E1       유틸리티     유통업   KOSPI    6.0
271560       오리온      필수소비재    음식료품   KOSPI    9.0
80         하이트진로      필수소비재    음식료품   KOSPI    9.0
1680          대상      필수소비재    음식료품   KOSPI    9.0
4990        롯데지주      필수소비재    기타금융   KOSPI    8.0
84690      대상홀딩스      필수소비재    기타금융   KOSPI    8.0
298050    효성첨단소재         소재      화학   KOSPI    9.0
103140        풍산         소재    철강금속   KOSPI    9.0
11780       금호석유         소재      화학   KOSPI    9.0
1230        동국제강         소재    철강금속   KOSPI    8.0
151860    KG ETS         소재   기타서비스  KOSDAQ    8.0
247540    에코프로비엠         IT  일반전기전자  KOSDAQ   11.0
5930        삼성전자         IT    전기전자   KOSPI    9.0
11070      LG이노텍         IT    전기전자   KOSPI    9.0
660       SK하이닉스         IT    전기전자   KOSPI    9.0
357780      솔브레인         IT      화학  KOSDAQ    9.0

In [17]:
data.get_inital_portfolio(sector=['건강관리','금융','IT'], n=3)

           종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
8930    한미사이언스       건강관리    기타금융   KOSPI   10.0
68270     셀트리온       건강관리     의약품   KOSPI    9.0
96530       씨젠       건강관리      제약  KOSDAQ    9.0
16360     삼성증권         금융      증권   KOSPI    8.0
86790   하나금융지주         금융    기타금융   KOSPI    7.0
316140  우리금융지주         금융    기타금융   KOSPI    7.0
247540  에코프로비엠         IT  일반전기전자  KOSDAQ   11.0
5930      삼성전자         IT    전기전자   KOSPI    9.0
11070    LG이노텍         IT    전기전자   KOSPI    9.0

In [18]:
data.get_inital_portfolio(sector=['소재','금융','산업재'], n=3)

            종목명 SEC_NM_KOR   업종명   시장구분  Score
종목코드
298050   효성첨단소재         소재    화학  KOSPI    9.0
103140       풍산         소재  철강금속  KOSPI    9.0
11780      금호석유         소재    화학  KOSPI    9.0
16360      삼성증권         금융    증권  KOSPI    8.0
86790    하나금융지주         금융  기타금융  KOSPI    7.0
316140   우리금융지주         금융  기타금융  KOSPI    7.0
28260      삼성물산        산업재   유통업  KOSPI    9.0
28050   삼성엔지니어링        산업재  서비스업  KOSPI    9.0
6260         LS        산업재  기타금융  KOSPI    9.0

data.get_portfolio_ohlcv()는 위에
get_inital_portfolio()를 통해 만든 my_universe에서
ticker 정보를 받아와서 ohlcv를 return 합니다

In [19]:
ohlcv = data.get_portfoilo_ohlcv()

In [20]:
ohlcv

{'298050': array([321500, 323000, 316500, 321500,  21043], dtype=int32),
 '103140': array([ 27350,  27450,  26200,  26950, 159937], dtype=int32),
 '011780': array([118000, 125000, 118000, 124000,  76354], dtype=int32),
 '016360': array([ 31250,  31600,  31100,  31550, 209058], dtype=int32),
 '086790': array([ 38100,  38100,  37350,  37350, 725505], dtype=int32),
 '316140': array([ 11150,  11250,  11100,  11100, 939631], dtype=int32),
 '028260': array([106500, 109000, 106000, 109000, 179945], dtype=int32),
 '028050': array([ 24000,  24050,  23450,  23500, 879483], dtype=int32),
 '006260': array([58300, 58600, 57200, 58300, 68446], dtype=int32)}