In [1]:
import os
os.chdir('/Users/seongyeon-kim/Desktop/Dinger')

### 프로젝트 root로 설정

In [2]:
import warnings
warnings.filterwarnings('ignore')

print("현재 디렉토리 " , os.getcwd())

from tqdm import tqdm
import pandas as pd 

from Dinger import universe_module as um

현재 디렉토리  /Users/seongyeon-kim/Desktop/Dinger

In [3]:
import numpy as np

In [4]:
data = pd.read_csv('./data/stock_kr.csv')

In [5]:
data = um.Universe(data)

In [6]:
data.get_standard_df()

,MKT_VAL,PER,PBR,DIV,매출액,영업이익,당기순이익,ROA,ROE,베타,resnet
SEC_NM_KOR,,,,,,,,,,,
IT,8.196197e+05,30.084113,2.200751,0.759078,2980.761092,401.568259,305.955631,2.833447,4.060580,1.012266,0.822526
건강관리,3.921800e+05,30.626036,3.638857,0.574250,541.921429,51.896429,46.525000,-1.225000,-3.615000,0.953178,0.764286
경기관련소비재,3.830134e+05,20.309020,1.504669,1.405303,4306.014409,272.740634,259.164265,1.614986,1.916138,0.875079,0.757925
금융,1.159158e+06,7.660602,0.779157,4.074819,25541.650602,1591.060241,1250.602410,1.768675,9.175904,0.762331,0.686747
산업재,4.006711e+05,42.695172,1.722816,1.462960,5527.793103,425.729885,315.321839,3.076149,2.828448,0.895503,0.732759
소재,4.696364e+05,16.347611,1.454159,1.660752,4535.805310,378.225664,306.292035,6.452212,10.680973,0.865302,0.654867
에너지,6.541701e+05,25.351111,1.951389,1.476667,16907.611111,1985.805556,1290.972222,1.536111,2.755556,0.777487,0.750000
유틸리티,6.699746e+05,34.691765,1.293529,2.681765,18977.235294,-3598.529412,-2754.823529,3.247059,5.852941,0.392353,0.823529
커뮤니케이션서비스,9.567631e+05,28.023451,2.286018,0.765221,2466.513274,232.646018,135.681416,0.521239,-0.819469,0.932069,0.743363
필수소비재,2.801420e+05,13.579600,1.369200,1.628000,3866.590000,260.450000,183.340000,2.525000,4.079000,0.731100,0.580000

In [7]:
data.get_score()

           종목명 SEC_NM_KOR     업종명    시장구분  Score
종목코드
5380       현대차    경기관련소비재    운수장비   KOSPI    8.0
270         기아    경기관련소비재    운수장비   KOSPI    8.0
12330    현대모비스    경기관련소비재    운수장비   KOSPI    8.0
51900   LG생활건강    경기관련소비재      화학   KOSPI    8.0
90430   아모레퍼시픽    경기관련소비재      화학   KOSPI    6.0
...        ...        ...     ...     ...    ...
33200      모아텍         IT    IT부품  KOSDAQ    1.0
9140      경인전자         IT    전기전자   KOSPI    4.0
17250      인터엠         IT  일반전기전자  KOSDAQ    1.0
32960     동일기연         IT    IT부품  KOSDAQ    3.0
321260    프로이천         IT  일반전기전자  KOSDAQ    3.0

[2136 rows x 5 columns]

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
data = pd.read_csv('./data/stock_kr.csv')

In [10]:
if '종목코드' in data.columns:
    data.set_index('종목코드', inplace=True)

data.dropna(inplace=True)

gubun = data[['종목명','SEC_NM_KOR','업종명','시장구분']]
sector_list = data.SEC_NM_KOR.unique()

In [15]:
scaler = StandardScaler()
data.drop(gubun.columns.tolist(), axis=1, inplace=True)
data.drop('ALL_MKT_VAL', axis=1, inplace=True)
scaled_data = scaler.fit_transform(data)

In [19]:
data.columns

Index(['MKT_VAL', 'PER', 'PBR', 'DIV', '매출액', '영업이익', '당기순이익', 'ROA', 'ROE',
       '베타'],
      dtype='object')

In [1]:
scaled_data = pd.DataFrame(scaled_data, columns=data.columns).set_index(data.index)

NameError: name 'pd' is not defined

In [ ]:
scaled_data

In [25]:
scaled_data = gubun.merge(scaled_data, right_index=True, left_index=True)

### 스케일링 후

In [29]:
scaled_data.describe().T

,count,mean,std,min,25%,50%,75%,max
MKT_VAL,2138.0,-1.778538e-17,1.000234,-0.095551,-0.088563,-0.082387,-0.064998,43.195627
PER,2138.0,3.554479e-17,1.000234,-0.125980,-0.125980,-0.089228,-0.045591,40.747997
PBR,2138.0,-6.885018e-17,1.000234,-0.389764,-0.260518,-0.162660,0.023824,36.635615
DIV,2138.0,-7.963176e-16,1.000234,-0.656429,-0.656429,-0.435159,0.334020,11.861166
매출액,2138.0,-1.818782e-17,1.000234,-0.179651,-0.173552,-0.163495,-0.124845,29.204609
영업이익,2138.0,1.529672e-16,1.000234,-16.718601,-0.092908,-0.086657,-0.067903,35.876610
당기순이익,2138.0,1.228749e-17,1.000234,-15.819584,-0.092933,-0.084151,-0.063742,36.008239
ROA,2138.0,3.479183e-17,1.000234,-8.330413,-0.258735,0.078925,0.424624,8.021971
ROE,2138.0,-6.213523e-18,1.000234,-46.227466,0.021100,0.022001,0.022802,0.038234
베타,2138.0,6.792197e-17,1.000234,-3.610337,-0.654906,0.024843,0.615929,8.300048

### 스케일링 전

In [32]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
MKT_VAL,2138.0,578216.255379,6.041336e+06,1096.00,43302.250,80606.00,185631.250,2.614765e+08
PER,2138.0,27.354181,2.171816e+02,0.00,0.000,7.98,17.455,8.875000e+03
PBR,2138.0,2.110968,5.417282e+00,0.00,0.700,1.23,2.240,2.005300e+02
DIV,2138.0,1.245987,1.898572e+00,0.00,0.000,0.42,1.880,2.376000e+01
매출액,2138.0,4704.222170,2.628049e+04,-16.00,144.250,408.50,1424.000,7.720360e+05
영업이익,2138.0,361.128157,3.920152e+03,-65163.00,-3.000,21.50,95.000,1.409700e+05
당기순이익,2138.0,279.725444,3.075246e+03,-48358.00,-6.000,21.00,83.750,1.109880e+05
ROA,2138.0,2.318288,1.244146e+01,-101.30,-0.900,3.30,7.600,1.021000e+02
ROE,2138.0,-188.490271,8.860490e+03,-409690.70,-1.575,6.40,13.500,1.502000e+02
베타,2138.0,0.911594,3.384393e-01,-0.31,0.690,0.92,1.120,3.720000e+00

In [8]:
data.get_score(mode='mm')

TypeError: Can only merge Series or DataFrame objects, a <class 'numpy.ndarray'> was passed